<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/edit.css">
    <title>My page</title>
</head>
<body>
    
    <header>
        <div class="header_top">
            <ul>
                <li><a href="/board/community">커뮤니티</a></li>|
                <li><a href="/board/works_cited">참고문헌</a></li>|
                <li><a href="/board/AI_consult">AI 컨설팅</a></li>|
                <li><a href="/board/notice">공지사항</a></li>
            </ul>
            <ul class="login_register">
                  <li><a href="/user/mypage_login">마이페이지</a></li>
                  <li><a href="/">로그아웃</a></li>
            </ul>
        </div>
        <div class="header_bottom">
            <div class="logo">
                <h1><a href="/"><img src="/public/img/logo.png" alt="logo"></a></h1>
            </div>
            <div class="sub_title">
                <h1>마이 페이지</h1>
            </div>
        </div>
    </header>
  
      <div class="content">
        <div class="mypage_cv col">
          <span
            style="
              font-size: 30px;
              padding: 10px;
              border-radius: 10px;
              background-color: thistle;
              color: white;
            "
            >자기소개서 수정</span>
          <br />
        </div>
        <form action="/edit_cvContent" class="edit_area" method="post">
            <textarea onkeydown="counter1()" class="txt" name="txt1" id="txt1" cols="100" rows="12" placeholder="1. 지원동기 및 입사 후 포부">
                <%= post.text_1 %>
            </textarea><br/>
            <span style="color: #000;" id="count1">(0 / 최대 1000자)</span><br/>
            <textarea onkeydown="counter2()" class="txt" name="txt2" id="txt2" cols="100" rows="12" placeholder="2. 경험(성장과정, 직무관련 경험 등)">
                <%= post.text_2 %>
            </textarea><br/>
            <span style="color: #000;" id="count2">(0 / 최대 1000자)</span><br/>
            <textarea onkeydown="counter3()" class="txt" name="txt3" id="txt3" cols="100" rows="12" placeholder="3. 성격의 장단점">
                <%= post.text_3 %>
            </textarea><br/>
            <span style="color: #000;" id="count3">(0 / 최대 1000자)</span><br/>
            <textarea onkeydown="counter4()" class="txt" name="txt4" id="txt4" cols="100" rows="12" placeholder="4. 직무역량">
                <%= post.text_4 %>
            </textarea><br/>
            <span style="color: #000;" id="count4">(0 / 최대 1000자)</span>
            <input type="submit" name="edit" id="edit_btn" class="btn" value="수정하기">
        </form>
      </div>
  
  
      <script>



        // 글자수 카운팅
        function counter1(){
            var content = document.getElementById('txt1').value;
            if(content.length > 1000){
                content = content.substring(0,1000);
                document.getElementById('txt1').value=content;
            }

            document.getElementById('count1').innerHTML='(' +content.length+' / 최대 1000자)'
        };
        counter1();

        function counter2(){
            var content = document.getElementById('txt2').value;
            if(content.length > 1000){
                content = content.substring(0,1000);
                document.getElementById('txt2').value=content;
            }

            document.getElementById('count2').innerHTML='(' +content.length+' / 최대 1000자)'
        };
        counter2();

        function counter3(){
            var content = document.getElementById('txt3').value;
            if(content.length > 1000){
                content = content.substring(0,1000);
                document.getElementById('txt3').value=content;
            }

            document.getElementById('count3').innerHTML='(' +content.length+' / 최대 1000자)'
        };
        counter3();

        function counter4(){
            var content = document.getElementById('txt4').value;
            if(content.length > 1000){
                content = content.substring(0,1000);
                document.getElementById('txt4').value=content;
            }

            document.getElementById('count4').innerHTML='(' +content.length+' / 최대 1000자)'
        };
        counter4();
  
      </script>

</body>
</html>
