<!DOCTYPE html>
<html lang="en">
  <%-include("partials/head.ejs")%>
  <body>
    <%-include("partials/header.ejs")%>
    <h1>내용------------------------------</h1>
    <h2>비밀번호 찾기페이지</h2>
    <h1>------------------------------</h1>
    <%-include("partials/footer.ejs")%>
  </body>
</html>
