<footer>
  <div>
    <div>
      <p><b>Company</b>C.V.C(Curriculum Vitae Consulting) Co., ltd.</p>
      <p><b>Representative</b>Park june young</p>
      <p><b>Corporate business nuber</b>xxx-xx-xxxxx[사업자정보확인하기]</p>
      <p><b>Privacy officer</b>C.V.C</p>
      <p><b>E-mail</b>parkjuneyoung194786@gmail.com</p>
      <p>
        <b>Address</b>University of Gyeongsang Province, Gyeongsangbuk-do,
        Gyeongsang University in Gyeongsang Province, South Korea
      </p>
    </div>
  </div>
</footer>
