<header>
  <div class="header_top">
    <ul>
      <li><a href="../html/community.html">커뮤니티</a></li>
      |
      <li><a href="../html/employ_infor.html">채용정보</a></li>
      |
      <li><a href="../html/expertprofile.html">컨설턴트</a></li>
    </ul>
    <ul class="login_register">
      <li><a href="../html/login.html">로그인</a></li>
      <li><a href="../html/register.html">회원가입</a></li>
    </ul>
  </div>
  <div class="header_bottom">
    <div class="logo">
      <h1>
        <a href="../html/index.html"
          ><img src="../public/img/logo.png" alt="logo"
        /></a>
      </h1>
    </div>
    <div class="sub_title">
      <h1>공지사항 / 고객센터</h1>
    </div>
  </div>
</header>
