<header>
  <a href="/"><img src="../public/img/logo.png" alt="logo" /></a>
  <div>
    <nav>
      <ul>
        <li>
          <a href="/board/freeboard">커뮤니티</a>
        </li>
        <li>
          <a href="/board/recruit">채용정보</a>
        </li>
        <li>
          <a href="/board/expert">컨설턴트</a>
        </li>
        <li>
          <a href="/login">로그인</a>
        </li>
        <li>
          <a href="/join">회원가입</a>
        </li>
      </ul>
    </nav>
  </div>
  <div>
    <div>
      <h1><%=pageTitle%></h1>
    </div>
  </div>
</header>
